.appPanel {
  .container {
    .AppButton {
      background-color: black;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 20px 20px;
      width: 33.33%;
      &:hover{
        background-color: $secondary-color;
      }

    }
    .App {
      color: white;
      display: none;
      padding: 100px 20px;
      height: 300px;
      width: 100%;
    }
  }
}