footer{
  background-color: $main-color;
  color:white;
  font-size: 20px;

  .container{
height: 70px;
    justify-content: space-between;
    align-items: center;

    span{
      width:30% ;
      text-align: end;
      padding-right: 20px;
      @media screen and #{$tablet} {
        width: 100%;
        text-align: center;
      }
        @media screen and #{$mobile}  {
          width: 100%;
          text-align: center;
        }

      i{
        margin-right: 20px;
        font-size: 30px;
      }
      a{
        color:white;
        text-decoration: none;
      }
    }
    h3{
      width: 70%;
      padding-left: 20px;
      @media screen and #{$tablet}  {
        width: 100%;
        text-align: center;
      }
      @media screen and #{$mobile}  {
        width: 100%;
        text-align: center;
      }
    }
  }

}