header {
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 2;
  .container{
    height: 100px;


  }
  color:white;
  background-color: $main-color;
  h2 {
    font-family: 'Nanum Brush Script', cursive;
    width: 40%;
    align-self: center;
    font-size:4em;
  }

  .logo {
    width: 15%;
    height: 100%;
    background-image: url("../img/pagoda.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 88px 85px;
    background-position:center;
  }

  .menu {
    background-color: $main-color;
    flex:1;
    align-self: center;

    ul {

      > li {
        text-align: center;
        display: inline-block;
        width: 32%;
        font-size: 2em;
      a{
        text-decoration: none;
        color:white;
      }
      }
    }
  }

  @media screen and #{$tablet} {
    .logo {
      width: 20%;
      background-size: 68px 65px;
    }
    h2 {
      width: 80%;
    }
    ul {
      > li {
        width: 30%;

      }
    }
  }


  @media screen and #{$mobile} {
    .logo {
      width: 20%;
      background-image: url("../img/logo.png");
      background-size:100px 80px;
      background-repeat: no-repeat;
      &:hover{
        cursor:pointer;
      }
    }
    h2 {
      width: 70%;
      text-align: center;
      font-size: 3.1em;
      font-style: italic;
    }
    .menu {
      display: none;
    }

    .canvasMenu {
      margin-top: 100px;
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      background-color: $main-color;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      li {
        color: white;
        display: block;
        margin:50px 50px;


      }
    }
  }
  }
